@import "tailwindcss";
@theme {
  --color-brown: #4B2615;
}




:root {
  --background: #ffffff;
  --foreground: #171717;
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #f3f3f3;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
/* Custom Pagination Bullet Styles */
.swiper-pagination-bullet.custom-bullet {
  width: 12px !important;
  height: 12px !important;
  border: 1pt solid white;
  background-color: transparent;
  transition: transform 0.3s, opacity 0.3s;
  margin-bottom: 10px; /* Adjust this value for vertical spacing */
}

/* Active Bullet Styling */
.swiper-pagination-bullet.custom-bullet.swiper-pagination-bullet-active {
  background-color: white !important;
  opacity: 1;
}

/* Pagination Container Styling */
.swiper-pagination-bullets {
  display: flex;
  flex-direction: column; /* Ensure bullets are stacked vertically */
  gap: 10px; /* Alternative to margin for spacing */
}
.swiper-pagination-bullets.swiper-pagination-horizontal{
  width: 4% !important;
}